/directpay-Rest/.settings/*
/directpay-Rest/target/*
/directpay-Rest/.project/*
/directpay-Rest/.classpath/*
/directpay-Master/directpay-Rest/.project/*
/directpay-Master/directpay-Rest/.classpath/*
/directpay-Service/.settings/*
/directpay-Service/target/*
/directpay-Master/directpay-Service/.project/*
/directpay-Master/directpay-Service/.classpath/*
/directpay-UI/.settings/*
/directpay-UI/target/*
/directpay-Master/directpay-UI/.project/*
/directpay-Master/directpay-UI/.classpath/*
/directpay-User/.settings/*
/directpay-User/target/*
/directpay-Master/directpay-User/.project/*
/directpay-Master/directpay-User/.classpath/*
/.settings/*
/target/*