<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta http-equiv='cache-control'
	content='no-cache,no-store,must-revalidate' />
<meta http-equiv='expires' content='0' />
<meta http-equiv='pragma' content='no-cache' />
<title>License App</title>


<link
	th:href='@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}'
	rel="stylesheet">
<script
	th:src='@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}'></script>
<script
	th:src='@{https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js}'></script>
<body>


	<div class="container rounded bg-white mt-5 mb-5">
		<div class="row">

			<div class="container col-sm-6 border">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h4 class="text-right">User Details</h4>
					</div>
					<div class="alert alert-success" role="alert" th:if="${msg != null}" th:text="${msg}"></div>
					<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
					<form class="form-signin" th:action="@{/user}"
						th:object="${userDto}" method="post">
						<div class="row mt-2">
							<div class="col-md-6">
								<label class="labels">First Name</label><input type="text"
									class="form-control" placeholder="first name" value=""
									th:field="*{firstName}" required="required">
							</div>
							<div class="col-md-6">
								<label class="labels">Last Name</label><input type="text"
									class="form-control" value="" placeholder="last name"
									th:field="*{lastName}" required="required" >
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-12">
								<label class="labels">User Name</label><input type="text"
									class="form-control" value="" placeholder="User Name"
									pattern="[a-zA-Z]+"required="required" th:field="*{username}">
							</div>
							<div class="col-md-12">
								<label class="labels">Password</label><input type="password"
									class="form-control" value="" placeholder="Password"
									th:field="*{password}" required="required">
							</div>
							<div class="col-md-12">
								<label class="labels">Email ID</label><input type="email"
									class="form-control" placeholder="enter email id" value=""
									th:field="*{email}" required="required">
							</div>

						</div>

						<div class="mt-5 text-center">
							<button class="btn btn-primary profile-button" type="submit">Save
							</button>
							<a class="btn btn-primary btn-lg" th:href="@{/home}"
				role="button">Home</a>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	</div>
	</div>
</body>
</html>