<!--
  EXCLUSIVE LICENSE
  THE INFORMATION AND COMPUTER SOURCE CODE CONTAINED WITHIN THIS PROGRAM SCRIPT IS
  THE EXCLUSIVE PROPERTY OF HAWES TECHNOLOGIES, LLC. USE MUST BE AUTHORIZED UNDER WRITTEN
  LICENSE OBTAINED FROM HAWES TECHNOLOGIES, LLC. USE AT YOUR OWN RISK. NO WARRANTY EITHER
  EXPRESSED OR IMPLIED.
  
  UNAUTHORIZED USE, ALTERATION, COPYING, OR REDISTRIBUTION IS STRICTLY PROHIBITED.
  
   @copyright Copyright (c) 2017 Hawes Technologies, LLC.
-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>License UI</display-name>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.codechasers.license.core.configuration.CoreConfiguration</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.codechasers.license.core.session.SessionListener</listener-class>
	</listener>
 <listener>
    <listener-class>
        org.springframework.web.context.request.RequestContextListener
    </listener-class>
  </listener>
  
 <listener>
  <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
</listener>
  
	<servlet>
		<servlet-name>license-web-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.codechasers.license.ui.WebDispatcherServletConfiguration</param-value>
		</init-param>
		    <init-param>
        <param-name>throwExceptionIfNoHandlerFound</param-name>
        <param-value>true</param-value>
 	   </init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>license-web-dispatcher</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

		
	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>CustomHttpServletRequestWrapperFilter</filter-name>
		<filter-class>com.codechasers.license.ui.util.CustomHttpServletRequestWrapperFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>CustomHttpServletRequestWrapperFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>20</session-timeout>
		<!-- <cookie-config>
			 <http-only>true</http-only>
       		 <secure>true</secure>
		</cookie-config> -->
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/404</location>
	</error-page>
	
	
	

	
	<context-param>
  	    <param-name>spring.profiles.default</param-name>
    	<param-value>context</param-value>
	</context-param>
	<!-- <env-entry> 
    	<env-entry-name>logFolder</env-entry-name> 
    	<env-entry-type>java.lang.String</env-entry-type> 
   		<env-entry-value>hero</env-entry-value> 
	</env-entry>
	 -->
	
</web-app>