.metadata
.settings/
**/target/*
*.iml
.idea
*.log
*.class
**/node_modules/
node_modules/
/collection-workflow-engine/.classpath
/collection-workflow-engine/.gitignore
/collection-workflow-engine/.project
/collection-reports/.classpath
/collection-reports/.gitignore
/collection-reports/.project
/collection-ui/.classpath
/collection-ui/.gitignore
/collection-ui/.project
/collection-dms/.classpath
/collection-dms/.gitignore
/collection-dms/.project
/collection-services/.classpath
/collection-services/.gitignore
/collection-services/.project
/collection-legal/.classpath
/collection-legal/.gitignore
/collection-legal/.project
/collection-rest/.classpath
/collection-rest/.gitignore
/collection-rest/.project
/collection-batch-process/.gitignore
/collection-batch-process/bin/*
**/.classpath
**/.project
**/bin/*
.scannerwork/

coverage
/collection-consumerprofileview/package-lock.json
